@import 'colors'
@import 'base'

html
  background-color: $gray1
  color: $orange

.container
  text-align: center
  display: flex
  flex-direction: column
  min-height: 300px
  margin: 0 auto
  height: 100%
  align-self: center
  justify-content: center

.banner
  font-weight: 300
  font-size: 80px
  margin-top: -50px

